/***** BASE STYLES *****/
body {
    font-family: 'Montserrat', sans-serif;
}


/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
    margin: auto;
}

/***** HEADER *****/

header h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
header h1 span {
    color: #77a466;
}
nav {
    float: right;
}
nav ul li{
    display: inline-block;
    padding-top: 12px;
    padding-left: 10px;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #77a466;
}
img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

/***** ABOUT *****/
#about h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #77a466;
}
#about p {
    font-size: 16px;
}

/***** BOTTOM *****/
.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}